/*html{
    font-size:10px;
}*/

html,
body {
    width: 100%;
    height: 100%;
}

.package_pic div.active {
    display: block;
}

.bg-one {
    width: 100%;
    height: 100%;
    background: url('../images/findWorld_bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: none;
}

.bg-two {
    width: 100%;
    height: 100%;
    background: url('../images/anyWay_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.bg-two02 {
    width: 100%;
    height: 100%;
    background: url('../images/readerBook_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.bg-three {
    width: 100%;
    height: 100%;
    background: url('../images/frog_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.bg-four {
    width: 100%;
    height: 100%;
    background: url('../images/manyPeople.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.bg-five {
    width: 100%;
    height: 100%;
    background: url('../images/twoPeople.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.main {
    height: 100%;
    width: 100%;
}


/*banner*/

.banner {
    width: 100%;
    height: 200%;
    /*background: url('../images/findWorld_bottom.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment:fixed;
    -webkit-background-attachment:fixed;*/
}

.banner .bannerShow {
    width: 100%;
    height: 50%;
    background: url('../images/banner_pic.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.banner .bannerShow .book {
    width: 46.93%;
    height: 33.69%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23.47%;
    margin-top: -42.84%;
    z-index: 2;
    background: url('../images/book.png') no-repeat;
    background-size: contain;
    background-position: center;
    
}


/*img {
    height: 100%;
}*/

.banner .bannerShow .RQ {
    width: 28.4%;
    height: 17.63%;
    position: absolute;
    left: 40%;
    top: 48%;
    margin-left: -14.2%;
    margin-top: -8.82%;
    z-index: 3;
    background: url('../images/RQ_pic.png') no-repeat;
    background-size: contain;
    background-position: center;
    
}

.banner .bannerShow .codeBar {
    width: 30%;
    height: 16.74%;
    position: absolute;
    right: 15%;
    top: 24%;
    margin-left: -15%;
    margin-top: -14.37%;
    z-index: 1;
    background: url('../images/codeBar.png') no-repeat;
    background-size: contain;
    background-position: center;
    
}

.banner .bannerShow .quickEnter {
    width: 40%;
    height:0.5rem;
    border-radius: 30px;
    position: absolute;
    right: 33%;
    bottom: 28%;
    margin-left: -17.33%;
    margin-top: -4.47%;
    z-index: 1;
    background-color: #13b9f7;  
    color:#fff;
    font-size: 0.2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 0.5rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}

.findMyworld_book {
    width: 100%;
    height: 50%;
    position: relative;
}

.findMyworld_book .background {
    background: url('../images/findWorld_bottom.png') no-repeat;
    background-size: contain;
    background-position: center;
    
}


/*.findMyworld_book .circle {
    width: 13.33%;
    height: 8.28%;
    margin: 0 auto;
    margin-top: 3.48%;
}*/


/*一本书 一个世界*/

.findWorld_str {
    width: 100%;
    height: 200%;
}

.findWorld_str .findWorld_wrap {
    width: 100%;
    height: 50%;
    background: #fff;
    padding: 0 5.33%;
    box-sizing: border-box;
    overflow: hidden;
}

.findWorld_str .findWorld_title {
    width: 100%;
    height: 11.51%;
    margin: 0 auto;
    padding-top: 4.97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.findWorld_str .findWorld_title .title-left {
    width: 18.88%;
    height: 100%;
    background: url('../images/findWorld_box.png') no-repeat;
    background-size: contain;
    background-position: center;
    
}

.findWorld_str .gap {
    width: 100%;
    height: 50%;
    position: relative;
}

.findWorld_str .gap .background {
    background: url('../images/readerBook_bg.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.findWorld_str .findWorld_title .title-right {
    width: 78.25%;
    height: auto;
    text-align: left;
}

.findWorld_str .findWorld_title .title-right .big {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #333;
    letter-spacing: 0rem;
    display: block;
    margin-top: 0rem;
}

.findWorld_str .findWorld_title .title-right span {
    font-size: 0.14rem;
    line-height: 0.2rem;
    color: #999;
    letter-spacing: 0rem;
    display: block;
    margin-top: 0rem;
}
/*.easeIn {
    opacity: 1 !important;
}*/
.gap .pics {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: url('../images/center.png') no-repeat;
    background-size: contain;
    /*transition: opacity 3s;*/
    background-position: center;
    display: block;
}

.findWorld_str .findWorld_wrap .content_wrap {
    width: 100%;
    height: 72.27%;
    margin-top: 5.79%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.findWorld_str .findWorld_wrap .content_box {
    width: 47.07%;
    height: 45.64%;
    position: relative;
    box-sizing: border-box;
}

.c1 {
    margin-top: 0%;
}

.c2 {
    margin-top: 0.2rem;
}

.c3 {
    /*margin-top:5.15%; */
}

.c4 {
    margin-top: 0.2rem;
}

.findWorld_str .findWorld_wrap .content_box .top-pic {
    width: 0.645rem;
    height: 0.315rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0%;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20.71%;
    z-index: 1;
    background-color: #fff;
}

.findWorld_str .findWorld_wrap .content_box .top-pic img {
    height: 60%;
    display: inline-block;
    margin-bottom: 0.1rem;
    /*vertical-align: 160%;*/
}

.findWorld_str .findWorld_wrap .content_box .codeBook-content {
    width: 100%;
    height: 84.08%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    top: 15.2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
    padding: 0 8%;
    box-sizing: border-box;
    padding-bottom: 0.2rem;
    border-radius: 10px;
}

.findWorld_str .findWorld_wrap .content_box .codeBook-content span {
    display: block;
    font-size: 0.14rem;
    line-height: 0.15rem;
    color: #999;
    text-align: left;
    letter-spacing: 0rem;
    margin-top: 0.08rem;
}

.findWorld_str .findWorld_wrap .content_box .codeBook-content span.content_title {
    color: #333;
    text-align: center;
    letter-spacing: 0rem;
    margin-top: 0.08rem;
}

.findWorld_str .gap {
    position: relative;
    width:100%;
    height:50%;
}



.findWorld_str .gap .circle {
    width: 8.8%;
    height: 5.71%;
    background: url('../images/circle.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 33.86%;
    left: 7.47%;
    transition: opacity 0.5s;
    z-index: 1;
}

.findWorld_str .gap .folder {
    width: 7.6%;
    height: 4.8%;
    background: url('../images/folder.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 55.13%;
    left: 9.07%;
    transition: opacity 0.5s;
    z-index: 1;
}

.findWorld_str .gap .song {
    width: 9.07%;
    height: 4.64%;
    background: url('../images/songs.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 15.48%;
    left: 25.33%;
    transition: opacity 0.5s;
    z-index: 1;
}

.findWorld_str .gap .msg {
    width: 10.13%;
    height: 5.55%;
    background: url('../images/msg.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 11.01%;
    right: 10.67%;
    transition: opacity 0.5s;
    z-index: 1;
}

.findWorld_str .gap .position {
    width: 6.67%;
    height: 5.71%;
    background: url('../images/position.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 48.01%;
    right: 12.53%;
    transition: opacity 0.5s;
    z-index: 1;
}

.findWorld_str .gap .audeo {
    width: 9.07%;
    height: 5.71%;
    background: url('../images/audio.png')no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 29.8%;
    right: 36.8%;
    transition: opacity 0.5s;
    z-index: 1;
}

.scale01 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1 !important;
}

.scale02 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1 !important;
}

.scale03 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1 !important;
}

.scale04 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1 !important;
}

.scale05 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1 !important;
}

.scale06 {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1 !important;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.001, .001, .001);
        transform: scale3d(.001, .001, .001);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.001, .001, .001);
        transform: scale3d(.001, .001, .001);
    }
    50% {
        opacity: 1;
    }
}


/*便捷有效*/

.quickGet {
    width: 100%;
    height: 200%;
}

.quickGet .quickGet-wrap {
    width: 100%;
    height: 50%;
    background-color: #fff;
}

.quickGet .quickGet-wrap .quickGet-title {
    width: auto;
    height: 14.16%;
    margin: 0 auto;
    padding-top: 13.25%;
    padding-left: 14.935%;
}

.quickGet .quickGet-wrap .quickGet-title .str-big {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #333;
    margin-bottom: 0.14rem;
}

.quickGet .quickGet-wrap .quickGet-title span.bolds {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #000;
    font-weight: bold;
}

.quickGet .quickGet-wrap .quickGet-title .str-sm span {
    font-size: 0.14rem;
    line-height: 0.21rem;
    color: #999;
    display: block;
}

.quickGet .quickGet-wrap .quick-pic {
    width: 87.73%;
    height: 59.52%;
    margin: 0 auto;
    background: url('../images/currentMsg.png')no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 0.52rem;
}

.quickGet .gap .background {
    background: url('../images/frog_bg.png')no-repeat;
    background-size: contain;
    background-position: center;
}


/*精准内容*/

.currentTxt {
    width: 100%;
    height: 200%;
}

.currentTxt .currentTxt-wrap {
    width: 100%;
    height: 50%;
    background-color: #373737;
}

.currentTxt .currentTxt-wrap .currentTxt-top {
    width: 36.8%;
    height: 65.48%;
    margin: 0 auto;
    background: url('../images/light_frog02.png') no-repeat;
    background-size: contain;
}

.currentTxt .currentTxt-wrap .currentTxt-bottom {
    width: 68%;
    height: 17.05%;
    margin: 0 auto;
    margin-top: 0.3rem;
}

.currentTxt .currentTxt-wrap .currentTxt-bottom .currentTxt-str {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #E8E8E8;
    margin-bottom: 0.08rem;
}

.currentTxt .currentTxt-wrap .currentTxt-bottom .currentTxt-str span.bolds {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #fff;
    font-weight: bold;
}

.currentTxt .currentTxt-wrap .currentTxt-bottom>span {
    font-size: 0.14rem;
    line-height: 0.21rem;
    color: #E8E8E8;
    display: block;
}

.currentTxt .gap .background {
    background: url('../images/manyPeople.png')no-repeat;
    background-size: contain;
}


/*高效有趣*/

.haveFun {
    width: 100%;
    height: 200%;
}

.haveFun .haveFun-wrap {
    width: 100%;
    height: 50%;
    background-color: #ffde19;
    overflow: hidden;
    position: relative;
}

.haveFun .haveFun-wrap .haveFun-str {
    width: 80%;
    height: 17.96%;
    margin: 0 auto;
    padding-top: 13.74%;
}

.haveFun .haveFun-wrap .haveFun-str .haveFun-title {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #333;
    margin-bottom: 0.14rem;
}

.haveFun .haveFun-wrap .haveFun-str .haveFun-title span.bolds {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #333;
    font-weight: bold;
}

.haveFun .haveFun-wrap .haveFun-str>span {
    font-size: 0.14rem;
    line-height: 0.21rem;
    color: #5d5530;
    display: block;
}

.haveFun .haveFun-wrap .girl {
    width: 92.93%;
    height: 60.76%;
    margin: 0 auto;
    /*margin-top: 20.818%;*/
    position:absolute;
    bottom: 0;
}

.haveFun .haveFun-wrap .girl .commont {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.haveFun .haveFun-wrap .girl .girl-pic {
    width: 100%;
    height: 72.89%;
    background: url('../images/girl.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    position: absolute;
    bottom: 0;
    left: 4%;
}

.haveFun .haveFun-wrap .girl .cloud {
    width: 12.2%;
    height: 7.63%;
    background: url('../images/cloud.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 2.72%;
    left: 14.06%;
    -webkit-animation-name: move;
    animation-name: move;
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    to {
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }
}

@keyframes move {
    from {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    to {
        -webkit-transform: translateX(30px);
        transform: translateX(30px)
    }
}

.haveFun .haveFun-wrap .girl .eat {
    width: 10.9%;
    height: 8.04%;
    background: url('../images/eat.png') no-repeat;
    background-size: contain;
    position: absolute;
    left: 22.38%;
    top: 36.24%;
    -webkit-animation-name: rotates;
    animation-name: rotates;
}

@-webkit-keyframes rotates {
    from {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
    }
    to {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
}

@keyframes rotates {
    from {
        -webkit-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
    }
    to {
        -webkit-transform: rotateZ(10deg);
        transform: rotateZ(10deg);
    }
}

.haveFun .haveFun-wrap .girl .msg {
    width: 10.9%;
    height: 9.13%;
    background: url('../images/msg_pic02.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 13.35%;
    left: 30.99%;
    -webkit-animation-name: rotates;
    animation-name: rotates;
}

.haveFun .haveFun-wrap .girl .rocket {
    width: 9.13%;
    height: 10.22%;
    background: url('../images/rocket02.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 56.81%;
    -webkit-animation-name: translates;
    animation-name: translates;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.haveFun .haveFun-wrap .girl .song {
    width: 9.76%;
    height: 7.63%;
    background: url('../images/song_pic.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 15.8%;
    right: 10.04%;
    -webkit-animation-name: translates;
    animation-name: translates;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.haveFun .haveFun-wrap .girl .vudeo {
    width: 11.05%;
    height: 9.54%;
    background: url('../images/video02.png') no-repeat;
    background-size: contain;
    position: absolute;
    top: 36.24%;
    right: 0;
    -webkit-animation-name: rotates;
    animation-name: rotates;
}

@-webkit-keyframes translates {
    from {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        -webkit-transform: rotateZ(30px);
        transform: rotateZ(30px);
    }
}

@keyframes translates {
    from {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    to {
        -webkit-transform: rotateZ(30px);
        transform: rotateZ(30px);
    }
}

.haveFun .gap {
    background: url('../images/twoPeople.png')no-repeat;
    background-size: contain;
    background-position: center;
}


/*重构编读关系*/

.readerWriter {
    width: 100%;
    height: 100%;
}

.readerWriter .readerWriter_wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    text-align: left;
}

.readerWriter .readerWriter_wrap .readerWriter-str {
    width: 81%;
    height: 17.88%;
    margin: 0 auto;
    margin-top: 7.95%;
}

.readerWriter .readerWriter_wrap .readerWriter-str {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #333;
}

.readerWriter .readerWriter_wrap .readerWriter-str span.bolds {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #000;
    display: block;
    font-weight: bold;
}

.readerWriter .readerWriter_wrap .readerWriter-str>span {
    font-size: 0.14rem;
    line-height: 0.21rem;
    color: #999;
    display: block;
    text-align: left;
}

.readerWriter .readerWriter_wrap .readerWriter-pic {
    width: 100%;
    height: 61.01%;
    margin: 0 auto;
    margin-top: 0.6rem;
    background: url('../images/reader-write.png') no-repeat;
    background-size: contain;
    background-position: center;
}


/*开放合作*/

.openWork {
    width: 100%;
    height: 100%;
    background: url('../images/callMe.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.openWork .openWork-str {
    width: 88%;
    height: auto;
    margin: 0 auto;
    padding-top: 0.4rem;
}

.openWork .openWork-str .openWork-title {
    font-size: 0.2rem;
    line-height: 0.25rem;
    color: #fff;
}

.openWork .openWork-str>span {
    font-size: 0.14rem;
    line-height: 0.21rem;
    color: #E8E8E8;
    display: block;
}

/*.openWork .openWork-pic {
    width: 100%;
    height: 49.59%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url('../images/callMe.png') no-repeat;
    background-size: contain;
}*/


/*码书和他的合作伙伴*/

.corperration {
    width: 100%;
    height: 100%;
    background: url('../images/thanks.png') no-repeat;
    background-size: 100% 100%;
}
/*脚部*/
.footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(51, 52, 51);
    }
    .footer .group {
        display: flex;
        flex-direction: column;
        padding: 0 0.15rem;
        justify-content: center;
        padding-top:0.15rem;
    }
    /*.footer ul.nav {
        display: flex;
        margin: .25rem 0;
        font-size:.13rem;
        color: #ffffff;
    }
    .footer ul.nav>li{
        padding: 0 0.13rem;
        border-right: 1px solid rgb(102, 102, 102);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer ul.nav>li:first-child {
        flex-shrink: 0;
        padding-left: 0;
    }
    .footer ul.nav>li:last-child {
        border-right: none;
        padding-right: 0;
    }
    .footer ul.nav>li>span {
    }*/
    .footer .des {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer .des .logo {
        background: url('../images/bottom_logo.png') center no-repeat;
        background-size: cover;
        height: .29rem;
        width: 0.9rem;
        flex-shrink: 0;
        margin-right: 0.1rem;
    }
    .footer .des .lxfs {
        color: rgb(238, 238, 238);
    }
    .footer .des .lxfs>div {
        font-size: .1rem;
    }
    .footer .des .lxfs>div>span {
        display: inline-block;
    }
    .footer .copyright {
        margin: .10rem 0;
        color: rgb(238, 238, 238);
        font-size: .1rem;
    }